doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title Produce List
    link(rel='stylesheet' href='/css/table.css')
  body
    .container
      h2 Produce List

      if produce.length
        table
          thead
            tr
              th Name of Produce
              th Type of Produce
              th Date
              th Time
              th Tonnage (metric tons)
              th Cost
              th Source
              th Dealer Name
              th Branch
              th Contact
              th Price to be Sold At
              th Edit
              th Delete
          tbody
            each prod, index in produce
              tr
                td #{prod.producename}
                td #{prod.producetype}
                td #{prod.date}
                td #{prod.time}
                td #{prod.tonnage}
                td #{prod.cost}
                td #{prod.source}
                td #{prod.dealer}
                td #{prod.branch}
                td #{prod.contact}
                td #{prod.price}
                td
                  a(href=`/edit-produce/${prod.id}`) Edit
                td
                  form(action=`/delete-produce/${prod.id}`, method='POST')
                    button(type='submit') Delete
      else
        p No produce entries available at the moment.

      // Link to add a new produce entry
      a(href='/Produce') Add New Produce Entry
