doctype html
html(lang="en")
  head
    title Produce List
    link(rel="stylesheet" href="/css/table.css")     
  body
    h1 Produce Entry Form
    table
      thead
        tr
          th Name of Produce
          th Type of Produce
          th Date 
          th Time 
          th Tonnage (in metric tons)
          th Cost 
          th source of produce
          th Dealer Name
          th Branch Name
          th Contact
          th Price to be Sold At (per unit)
          th Action
      tbody
        if produce.length 
          each produceItem in produce 
            tr
              td #{produceItem.producename}
              td #{produceItem.producetype}
              td #{produceItem.date}
              td #{produceItem.time}
              td #{produceItem.tonnage}
              td #{produceItem.cost}
              td #{produceItem.source}
              td #{produceItem.dealer}
              td #{produceItem.branch}
              td #{produceItem.contact}
              td #{producetItem.price}
              td
              td #{new Date(produceItem.date).toLocaleString()}
              td 
                a(href=/edit-produce/${produceItem._id} class="edit-btn") Edit
              td
                form(method="POST" action="/delete-produce")
                  input(type="hidden" name="id" value=productItem._id)
                  button(class="delete-btn" type="submit") Delete
        else 
          tr
            td(colspan="8") No produce added yet!