doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title Sales List
    link(rel='stylesheet' href='/css/table.css')
  body
    .container
      h2 Sales List

      if sales.length
        table
          thead
            tr
              th Name of Produce
              th Type of Produce
              th Unit Price 
              th Quantity Purchased
              th Price Paid
              th Date
              th Time
              th Branch
              th Edit
              th Delete
          tbody
            each sale, index in sales
              tr
                td #{sale.producename}
                td #{sale.produceType}
                td #{sale.unitPrice}
                td #{sale.quantityPurchased}
                td #{sale.pricePaid}
                td #{sale.date}
                td #{sale.time}
                td #{sale.branch}
                td
                  a(href=`/update-sale`) Edit
                td
                  form(action=`/delete-sale/${sale.id}`, method='POST')
                    button(type='submit') Delete
      else
        p No sales records available at the moment.

      // Add a link to go back to the sales form
      a(href='/add_sales') Add New Sales Record
